* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
}

header .logo a img {
    width: 61px;
    margin: 50px;
    margin-left: 40px;
}

header .menu ul {
    display: flex;
    list-style: none;
}

header .menu ul li a {
    display: block;
    padding: 48px 50px 20px 50px;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    border-top: solid 2px #ffffff;
}

header .menu ul li a:hover {
    transition: border 0.3s, color 0.1s;
    border-top: solid 4px #0065FC;
    color: #0065FC;
}

main {
    margin: 0 40px 50px;
}


#section-top h1 {
    font-size: 22px;
    margin: 0 0 7px 0;
}

#section-top p {
    font-size: 16px;
}

#section-top form {
    margin: 30px 0;
    display: flex;
}

#section-top form label {
    background: #F2F2F2;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 15px;
    cursor: pointer;
}

#section-top form button,
#section-top form input {
    margin: 0;
    padding: 10px;
    height: 49px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    outline: none;
}

#section-top form #localisation {
    border: solid 1px #F2F2F2;
    width: 210px;
}

#section-top form #localisation::placeholder {
    color: #000000;
}

#section-top form .submit {
    background: #0065FC;
    color: #ffffff;
    border: none;
    border-radius: 0 15px 15px 0;
    padding: 0 15px;
    cursor: pointer;
}

#section-top form .submit i {
    display: none;
    color: #ffffff;
}

#section-top nav {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 30px 0 40px 0;
}

#section-top nav p {
    font-size: 18px;
}

#section-top nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 0 0 15px;
}

#section-top nav ul li {
    margin: 10px 15px;
}

#section-top nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-decoration: none;
    font-size: 17px;
    border: solid 2px #D9D9D9;
    border-radius: 25px;
    padding: 0.7rem 1.3rem;
}

#section-top nav ul li a:hover {
    transition: 0.4s all;
    background: #DEEBFF;
}

#section-top nav ul li a i {
    margin: 0 7px 0 0;
    color: #0065FC;
}

#section-top nav+p {
    display: flex;
    align-items: center;
    font-size: 16px;
}

#section-top p span {
    margin: 0 8px 0 0;
    display: flex;
    justify-content: center;
}

#section-top p span i {
    color: #0065FC;
    padding: 5px 10px;
    border: #D9D9D9 solid 1px;
    border-radius: 24px;
}

#accomodation {
    display: flex;
    margin: 50px 0 0 0;
    justify-content: space-between;
}

#accomodation .marseille {
    background: #F2F2F2;
    border-radius: 20px;
    padding: 40px;
    width: 63%;
    height: 656px;
    display: flex;
    flex-direction: column;
}

#accomodation .marseille h2 {
    margin: 0 0 10px 0;
    font-size: 22px;
}

#accomodation .marseille .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#accomodation .marseille .container article {
    margin: 1rem 0;
    padding: 5px;
    width: 31%;
    border-radius: 20px;
    box-shadow: #8f87876b 0 0 15px;
    background: white;
    transition: 0.3s;
}

#accomodation .marseille .container article:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#accomodation .marseille .container article .roomcards {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    color: #000000;
}

#accomodation .marseille .container article .roomcards .photo img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

#accomodation .marseille .container article .roomcards .block-content h3 {
    font-size: 16px;
    margin: 5px;
}

#accomodation .marseille .container article .roomcards .block-content .price {
    font-size: 14px;
    margin: 0 5px 5px 5px;
}

#accomodation .marseille .container article .roomcards .block-content .star-rating {
    margin: 5px;
}

#accomodation .marseille .container article .roomcards .block-content .star-rating i {
    color: #0065FC;
}

#accomodation .marseille .container article .roomcards .block-content .star-rating i:hover~.grey {
    color: #F2F2F2;
    transition: 0.2s all;
}

#accomodation .marseille .container article .roomcards .block-content .star-rating .grey {
    color: #F2F2F2;
    transition: 0.3s all;
}

#accomodation .marseille .container article .roomcards .block-content .star-rating .grey:hover {
    color: #0065FC;
    transition: 0.2s all;
}

#accomodation .marseille> :last-child {
    text-decoration: none;
    font-weight: bold;
    align-items: flex-end;
    color: #000000;
    margin-top: auto;
    width: 105px;
    padding: 5px;
}

#accomodation .popular {
    background: #F2F2F2;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    width: 33%;
}

#accomodation .popular h2 {
    margin: 0 0 10px 0;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}

#accomodation .popular h2 i {
    color: #0065FC;
}

#accomodation .popular .container {
    display: flex;
    flex-direction: column;
}

#accomodation .popular .container article {
    background: white;
    margin: 1rem 0;
    padding: 5px;
    height: 144px;
    width: 100%;
    box-shadow: #8f87876b 0 0 15px;
    border-radius: 20px;
    transition: 0.3s;
}

#accomodation .popular .container article:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#accomodation .popular .container article .popularCards {
    display: flex;
    text-decoration: none;
    border-radius: 20px;
    color: black;
    height: 100%;
    width: 100%;
}

#accomodation .popular .container article .popularCards .photo {
    width: 40%;
}

#accomodation .popular .container article .popularCards .photo img {
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

#accomodation .popular .container article .popularCards .block-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

#accomodation .popular .container article .popularCards .block-content h3 {
    font-size: 16px;
    margin: 5px;
}

#accomodation .popular .container article .popularCards .block-content p {
    font-size: 14px;
    margin: 0 5px 5px 5px;
}

#accomodation .popular .container article .popularCards .block-content .star-rating {
    margin: 5px;
    display: flex;
    padding: 5px 0;
}

#accomodation .popular .container article .popularCards .block-content .star-rating i {
    color: #0065FC;
}

#accomodation .popular .container article .popularCards .block-content .star-rating .grey {
    color: #F2F2F2;
}

#accomodation .popular .container article .popularCards .block-content .star-rating .grey:hover {
    color: #0065FC;
    transition: 0.2s all;
}


#activities h2 {
    margin: 0 0 30px 0;
    padding-top: 50px;
    font-size: 22px;
}

#activities .activity {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#activities .activity article {
    width: 22.5%;
    height: 445px;
    border-radius: 20px;
    box-shadow: gray 0 0 3px;
    transition: 0.3s;
}

#activities .activity article:hover {
    transform: scale(1.015);
    transition: 0.3s;
}

#activities .activity article .activity-block {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #000000;
    width: 100%;
    height: 100%;
}

#activities .activity article .activity-block .photo {
    height: 389px;
    width: 100%;
}

#activities .activity article .activity-block .photo img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

#activities .activity article .activity-block .block-content {
    height: 56px;
    display: flex;
    align-items: center;
}

#activities .activity article .activity-block .block-content h3 {
    font-size: 16px;
    padding: 0 15px;
}


footer {
    background: #F2F2F2;
    margin: 50px 40px 0;
}

footer .downPage {
    display: flex;
    justify-content: space-around;
    padding: 20px 50px;
    width: 100%;
}

footer .downPage div {
    width: 33%;
}

footer .downPage div p {
    font-weight: bold;
    padding: 15px 0;
    font-size: 18px;
}

footer .downPage ul {
    list-style: none;
}

footer .downPage ul li a {
    text-decoration: none;
    color: #000000;
    margin: 0 0 10px 0;
    display: inline-block;
    font-size: 16px;
}

@media screen and (max-width: 991px) {

    #section-top nav{
        align-items: baseline;
    }

    #accomodation {
        flex-direction: column;
    }

    #accomodation .marseille {
        width: 100%;
    }

    #accomodation .popular {
        margin-top: 50px;
        width: 100%;
    }

    #accomodation .popular .container {
        flex-direction: row;
        justify-content: space-between;
    }

    #accomodation .popular .container article {
        width: 31%;
        height: auto;
    }

  
    #activities .activity article {
        height: 267px;
    }

    #activities .activity article .activity-block .photo {
        height: 211px;
    }

}


@media screen and (max-width: 767px) {

    header {
        flex-direction: column;
        align-items: center;
    }

    header .logo a img {
        margin: 25px 0 20px;
    }

    header .menu {
        width: 100%;
    }

    header .menu ul {
        width: 100%;
        justify-content: space-between;
    }
    header .menu ul li {
        text-align: center;
        width: 100%;
    }
    header .menu ul li a {
        border-top: none;
        border-bottom: solid 3px #F2F2F2;
        padding: 25px;
    }
    header .menu ul li a:hover {
        border-top: none;
        border-bottom: solid 5px #0065FC;
    }

    main {
        margin: 0;
    }



    #section-top {
        margin: 30px 12px;
    }

    #section-top p {
        margin: 10px 0 0;
    }

    #section-top form label,
    .submit {
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #section-top form #localisation {
        width: 100%;
    }

    #section-top form .submit i {
        display: block;
        color: #ffffff;
    }

    #section-top form .submit span {
        display: none;
    }

    #section-top nav {
        flex-direction: column;
        align-items: stretch;
        margin-bottom: 30px;
    }

    #section-top nav ul {
        margin: 0;
        justify-content: space-between;
    }

    #section-top nav ul li {
        width: 47.5%;
        margin: 9px 0;
    }

    #section-top nav ul li a {
        font-size: 12px;
        padding: 1rem 0;
        justify-content: flex-start;
        padding-left: 10px;
        padding-right: 10px;
    }

    #section-top nav ul li a i {
        font-size: 20px;
        margin-left: 3px;
    }

    #section-top nav+p {
        align-items: baseline;
    }

    #section-top nav+p span i {
        font-size: 12px;
        padding: 6px 10px;
    }

    #accomodation {
        flex-direction: column-reverse;
        margin: 0;
    }

    #accomodation .popular {
        margin: 0;
        border-radius: 0;
        padding: 25px 12px;
        height: 580px;
    }

    #accomodation .popular .container {
        flex-direction: column;
        justify-content: space-between;
        margin: 10px 0 0;
        height: 87%;
    }

    #accomodation .popular .container article {
        width: 100%;
        height: 144px;
        margin: 0;
    }

    #accomodation .popular .container article .popularCards .block-content {
        margin: 10px 10px 0;
    }

    #accomodation .marseille {
        background: none;
        padding: 25px 12px 20px;
        height: auto;
    }

    #accomodation .marseille .container article {
        width: 100%;
    }

    #accomodation .marseille .container article .roomcards .block-content {
        margin: 0 5px;
    }

    #accomodation .marseille .show-more {
        display: none;
    }

    #activities {
        padding: 0 12px;
    }

    #activities h2 {
        margin: 0;
        width: 110px;
    }

    #activities .activity {
        margin-top: 10px;
        flex-direction: column;
    }

    #activities .activity article {
        width: 100%;
        height: 190px;
        margin-bottom: 30px;
    }

    #activities .activity article .activity-block .photo {
        height: 134px;
    }

    footer {
        background: #F2F2F2;
        margin: 45px 0 0;
    }

    footer .downPage {
        flex-direction: column;
        padding: 9px 10px;
    }

    footer .downPage div {
        width: 100%;
        padding: 10px 0;
    }
}