* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
}

header .logo a img {
    width: 61px;
    margin: 50px;
}

header .menu ul {
    display: flex;
    list-style: none;
}

header .menu ul li a {
    display: block;
    padding: 48px 50px 20px 50px;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    border-top: solid 2px #ffffff;
}

header .menu ul li a:hover {
    transition: border 1.3s, color 0.5s;
    border-top: solid 2px #0065FC;
    color: #0065FC;
}


main {
    margin: 0 40px 50px;
}

#section-top h1 {
    font-size: 22px;
    margin: 0 0 7px 0;
}

#section-top p {
    font-size: 16px;
}

#section-top form {
    margin: 30px 0;
    display: flex;
}

#section-top form label {
    background: #F2F2F2;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 15px;
    cursor: pointer;
}

#section-top form button,
#section-top form input {
    margin: 0;
    padding: 10px;
    height: 49px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    outline: none;
}

#section-top form #localisation {
    border: solid 1px #F2F2F2;
    width: 210px;
}

#section-top form #localisation::placeholder {
    color: #000000;
}

#section-top form .submit {
    background: #0065FC;
    color: #ffffff;
    border: none;
    border-radius: 0 15px 15px 0;
    padding: 0 15px;
    cursor: pointer;
}

#section-top form .submit i {
    display: none;
    color: #ffffff;
}

#section-top nav {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 30px 0 40px 0;
}

#section-top nav p {
    font-size: 18px;
}

#section-top nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 0 0 15px;
}

#section-top nav ul li {
    margin: 10px 15px;
}

#section-top nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-decoration: none;
    font-size: 17px;
    border: solid 2px #D9D9D9;
    border-radius: 25px;
    padding: 0.7rem 1.3rem;
}

#section-top nav ul li a:hover {
    transition: 0.4s all;
    background: #DEEBFF;
}

#section-top nav ul li a i {
    margin: 0 7px 0 0;
    color: #0065FC;
}

#section-top nav+p {
    display: flex;
    align-items: center;
    font-size: 16px;
}

#section-top p span {
    margin: 0 8px 0 0;
    display: flex;
    justify-content: center;
}

#section-top p span i {
    color: #0065FC;
    padding: 5px 10px;
    border: #D9D9D9 solid 1px;
    border-radius: 24px;
}


#accomodation {
    display: flex;
    margin: 50px 0 0 0;
    justify-content: space-between;
}

#accomodation .marseille {
    background: #F2F2F2;
    border-radius: 20px;
    padding: 40px;
    width: 63%;
    height: 656px;
    display: flex;
    flex-direction: column;
}

#accomodation .marseille h2 {
    margin: 0 0 10px 0;
    font-size: 22px;
}


#accomodation .marseille .cardsblock article:hover {
    transform: scale(1.015);
    transition: 0.3s;
}
#accomodation .marseille .cardsblock article {
    margin: 1rem 0;
    padding: 5px;
    width: 31%;
    border-radius: 20px;
    box-shadow: #8f87876b 0 0 15px;
    background: white;
    transition: 0.3s;
}
#accomodation .marseille .cardsblock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


#accomodation .marseille .cardsblock article .roomCards {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    color: #000000;
    text-decoration: none;
}

#accomodation .marseille .cardsblock article .roomCard .insidecard img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

#accomodation .marseille .cardsblock article .roomCards .description h3 {
    font-size: 16px;
    margin: 5px;
}

#accomodation .marseille .cardsblock article .roomCards .description .roomprice {
    font-size: 14px;
    margin: 0 5px 5px 5px;
}

#accomodation .marseille .cardsblock article .roomCards .description .rating {
    margin: 5px;
}

#accomodation .marseille .cardsblock article .roomCards .description .rating i {
    color: #0065FC;
    transition: 1s all;
}

#accomodation .marseille .cardsblock article .roomCards .description .rating i:hover~i {
    color: #0065fc54;
    transition: 0.2s all;
}

#accomodation .marseille .cardsblock article .roomCards .description .rating i:hover~.grey {
    color: #F2F2F2;
    transition: 0.2s all;
}

#accomodation .marseille .cardsblock article .roomCards .description .rating .grey {
    color: #F2F2F2;
    transition: 0.3s all;
}

#accomodation .marseille .cardsblock article .roomCards .description .rating .grey:hover {
    color: #0065FC;
    transition: 0.2s all;
}

#accomodation .marseille> :last-child {
    text-decoration: none;
    font-weight: bold;
    align-items: flex-end;
    color: #000000;
    margin-top: auto;
    width: 105px;
    padding: 5px;
}

#accomodation .popular {
    background: #F2F2F2;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    width: 33%;
    flex-direction: column;
}

#accomodation .popular h2 {
    margin: 0 0 10px 0;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}

#accomodation .popular h2 i {
    color: #0065FC;
}

#accomodation .popular .cardsblock {
    display: flex;
    flex-direction: column;
}

#accomodation .popular .cardsblock article {
    background: white;
    margin: 1rem 0;
    padding: 5px;
    height: 144px;
    width: 100%;
    box-shadow: #8f87876b 0 0 15px;
    border-radius: 20px;
    transition: 0.3s;
}

#accomodation .popular .cardsblock article:hover {
    transform: scale(1.015);
    transition: 0.3s;
}

#accomodation .popular .cardsblock article .popularCards {
    display: flex;
    text-decoration: none;
    border-radius: 20px;
    color: black;
    height: 100%;
    width: 100%;
}

#accomodation .popular .cardsblock article .popularCards .insidecard {
    width: 40%;
}

#accomodation .popular .cardsblock article .popularCards .insidecard img {
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

#accomodation .popular .cardsblock article .popularCards .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

#accomodation .popular .cardsblock article .popularCards .description h3 {
    font-size: 16px;
    margin: 5px;
}

#accomodation .popular .cardsblock article .popularCards .description p {
    font-size: 14px;
    margin: 0 5px 5px 5px;
}

#accomodation .popular .cardsblock article .popularCards .description .rating {
    margin: 5px;
    display: flex;
    padding: 5px 0;
}

#accomodation .popular .cardsblock article .popularCards .description .rating i {
    color: #0065FC;
    transition: 1s all;
}

#accomodation .popular .cardsblock article .popularCards .description .rating i:hover~i {
    color: #0065fc54;
    transition: 0.2s all;
}

#accomodation .popular .cardsblock article .popularCards .description .rating i:hover~.grey {
    color: #F2F2F2;
    transition: 0.2s all;
}

#accomodation .popular .cardsblock article .popularCards .description .rating .grey {
    color: #F2F2F2;
}

#accomodation .popular .cardsblock article .popularCards .description .rating .grey:hover {
    color: #0065FC;
    transition: 0.2s all;
}


#activityblock h2 {
    margin: 0 0 30px 0;
    padding-top: 50px;
    font-size: 22px;
}

#activityblock .activity {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#activityblock .activity article {
    width: 22.5%;
    height: 445px;
    border-radius: 20px;
    box-shadow: #8f87876b 0 0 15px;
    transition: 0.3s;
}

#activityblock .activity article:hover {
    transform: scale(1.015);
    transition: 0.3s;
}

#activityblock .activity article .bigbox {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #000000;
    width: 100%;
    height: 100%;
}

#activityblock .activity article .bigbox .insidecard {
    height: 389px;
    width: 100%;
}

#activityblock .activity article .bigbox .insidecard img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

#activityblock .activity article .bigbox .description {
    height: 56px;
    display: flex;
    align-items: center;
}

#activityblock .activity article .bigbox .description h3 {
    font-size: 16px;
    padding: 0 15px;
}


footer {
    background: #F2F2F2;
    margin: 50px 40px 0;
}

footer .downpage {
    display: flex;
    justify-content: space-around;
    padding: 20px 50px;
    width: 100%;
}

footer .downpage div {
    width: 33%;
}

footer .downpage div p {
    font-weight: bold;
    padding: 15px 0;
    font-size: 18px;
}

footer .downpage ul {
    list-style: none;
}

footer .downpage ul li a {
    text-decoration: none;
    color: #000000;
    margin: 0 0 10px 0;
    display: inline-block;
    font-size: 16px;
}


